.posts {
  margin-bottom: 4rem;
}

.post {
  font-family: 'Inter', sans-serif;

  & + & {
    margin-top: 3rem;
  }

  a {
    font-size: 28px;
    font-weight: 700;
    color: var(--heading);
    transition: opacity 0.2s;

    &:hover {
      opacity: 0.5;
    }
  }

  p {
    font-size: 18px;
    color: var(--body);
    padding: 0.5rem 0 1.5rem;
  }

  div {
    color: var(--info);
    display: flex;
    align-items: center;

    span {
      font-size: 14px;
      display: flex;
      align-items: flex-end;

      & + span {
        margin-left: 2rem;
      }

      svg {
        margin-right: 0.5rem;
      }
    }
  }
}

.loadMore {
  display: block;

  font-size: 18px;
  font-weight: 600;
  color: var(--highlight);
  border: 0;
  background: transparent;
}
